In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
%matplotlib inline

In [2]:
game_stats_2021 = pd.read_csv('game_stats_2021.csv',index_col=[0])
game_stats_2022 = pd.read_csv('game_stats_2022.csv',index_col=[0])
game_scoring_2021 = pd.read_csv('game_scoring_2021.csv',index_col=[0])
game_scoring_2022 = pd.read_csv('game_scoring_2022.csv',index_col=[0])

In [3]:
game_stats_2021

,id,school,completionAttempts,defensiveTDs,firstDowns,fourthDownEff,fumblesLost,fumblesRecovered,interceptionTDs,interceptionYards,...,sacks,tackles,tacklesForLoss,thirdDownEff,totalFumbles,totalPenaltiesYards,totalYards,turnovers,yardsPerPass,yardsPerRushAttempt
0,401281942,Alabama,28-39,0,28,0-1,1,1,0.0,12.0,...,4.0,25,7.0,10-16,2.0,8-81,501,1,9.1,3.9
1,401281942,Miami,23-31,0,18,1-2,1,1,NaN,NaN,...,1.0,35,10.0,6-14,1.0,7-75,266,3,5.8,2.8
2,401281943,Arkansas,12-21,0,18,0-1,0,0,0.0,88.0,...,2.0,24,6.5,3-11,2.0,13-117,373,1,6.1,5.6
3,401281943,Rice,17-34,0,19,1-2,0,0,0.0,0.0,...,2.0,30,3.0,4-15,1.0,10-60,308,3,6.7,2.1
4,401281944,Akron,22-27,0,12,2-5,0,0,NaN,NaN,...,0.0,38,2.0,3-14,4.0,5-35,188,0,7.1,-0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1539,401319455,South Carolina State,30-47,0,24,2-2,0,0,NaN,NaN,...,1.0,32,3.0,6-13,NaN,5-45,428,3,7.5,2.8
1540,401327913,Fordham,18-30,0,12,1-4,0,2,NaN,NaN,...,1.0,52,3.0,2-13,0.0,2-15,292,3,5.4,4.6
1541,401327913,Nebraska,21-30,0,34,4-4,2,0,0.0,11.0,...,1.0,26,5.0,12-19,4.0,2-10,633,2,10.1,5.1
1542,401328545,Coastal Carolina,20-24,0,28,1-1,0,0,NaN,NaN,...,0.0,29,0.0,4-6,1.0,4-40,610,0,14.5,8.2
1543,401328545,The Citadel,3-6,0,16,2-3,0,0,NaN,NaN,...,0.0,20,0.0,3-12,NaN,3-35,237,0,2.3,4.1

In [4]:
current_scoring = pd.concat([game_scoring_2021,game_scoring_2022],axis=0)
current_stats = pd.concat([game_stats_2021,game_stats_2022],axis=0)
current_stats.rename(columns={'id':'game_id'},inplace=True)

In [5]:
current_scoring.head()

,game_id,team_id,school,points,date,venue_id,venue,neutral_site,opponent,points_allowed,opponent_id,points_q1,points_q2,points_q3,points_q4,points_allowed_q1,points_allowed_q2,points_allowed_q3,points_allowed_q4,is_home
0,401282714.0,356.0,Illinois,30.0,2021-08-28T17:20:00.000Z,3832.0,Memorial Stadium,False,Nebraska,22.0,158.0,2.0,14.0,14.0,0.0,0.0,9.0,7.0,6.0,1
1,401286187.0,278.0,Fresno State,45.0,2021-08-28T18:00:00.000Z,3660.0,Bulldog Stadium,False,Connecticut,0.0,41.0,7.0,24.0,7.0,7.0,0.0,0.0,0.0,0.0,1
2,401329133.0,2119.0,Central State,6.0,2021-08-28T19:00:00.000Z,3861.0,Ohio Stadium,True,Kentucky State,20.0,2310.0,0.0,0.0,0.0,6.0,6.0,7.0,0.0,7.0,1
3,401309833.0,26.0,UCLA,44.0,2021-08-28T19:30:00.000Z,1056.0,Rose Bowl,False,Hawai'i,10.0,62.0,24.0,7.0,13.0,0.0,3.0,0.0,7.0,0.0,1
4,401328337.0,282.0,Indiana State,26.0,2021-08-28T22:00:00.000Z,3829.0,Memorial Stadium,False,Eastern Illinois,21.0,2197.0,7.0,3.0,7.0,9.0,0.0,7.0,7.0,7.0,1

In [6]:
current_stats.head()

,game_id,school,completionAttempts,defensiveTDs,firstDowns,fourthDownEff,fumblesLost,fumblesRecovered,interceptionTDs,interceptionYards,...,sacks,tackles,tacklesForLoss,thirdDownEff,totalFumbles,totalPenaltiesYards,totalYards,turnovers,yardsPerPass,yardsPerRushAttempt
0,401281942,Alabama,28-39,0.0,28,0-1,1,1,0.0,12.0,...,4.0,25.0,7.0,10-16,2.0,8-81,501,1,9.1,3.9
1,401281942,Miami,23-31,0.0,18,1-2,1,1,NaN,NaN,...,1.0,35.0,10.0,6-14,1.0,7-75,266,3,5.8,2.8
2,401281943,Arkansas,12-21,0.0,18,0-1,0,0,0.0,88.0,...,2.0,24.0,6.5,3-11,2.0,13-117,373,1,6.1,5.6
3,401281943,Rice,17-34,0.0,19,1-2,0,0,0.0,0.0,...,2.0,30.0,3.0,4-15,1.0,10-60,308,3,6.7,2.1
4,401281944,Akron,22-27,0.0,12,2-5,0,0,NaN,NaN,...,0.0,38.0,2.0,3-14,4.0,5-35,188,0,7.1,-0.1

In [7]:
current_game_stats = current_scoring.merge(current_stats,how='left',on=['game_id','school'])

In [8]:
stats_df = current_game_stats[current_game_stats['game_id'].notnull()].copy()
stats_df = stats_df[stats_df['neutral_site']==False].copy()

In [9]:
stats_df.fillna(0,inplace=True)

In [10]:
stats_df[stats_df['school']=='Michigan'].head()

,game_id,team_id,school,points,date,venue_id,venue,neutral_site,opponent,points_allowed,...,sacks,tackles,tacklesForLoss,thirdDownEff,totalFumbles,totalPenaltiesYards,totalYards,turnovers,yardsPerPass,yardsPerRushAttempt
97,401282772.0,130.0,Michigan,47.0,2021-09-04T16:00:00.000Z,3558.0,Michigan Stadium,False,Western Michigan,14.0,...,1.0,42.0,3.0,8-13,1.0,5-48,551.0,0.0,12.7,7.8
394,401282773.0,130.0,Michigan,31.0,2021-09-12T00:00:00.000Z,3558.0,Michigan Stadium,False,Washington,10.0,...,4.0,35.0,7.0,7-16,1.0,6-60,387.0,0.0,2.9,6.1
422,401282774.0,130.0,Michigan,63.0,2021-09-18T16:00:00.000Z,3558.0,Michigan Stadium,False,Northern Illinois,10.0,...,1.0,31.0,4.0,3-6,1.0,5-45,606.0,0.0,13.7,7.8
714,401282775.0,130.0,Michigan,20.0,2021-09-25T19:30:00.000Z,3558.0,Michigan Stadium,False,Rutgers,13.0,...,1.0,49.0,6.0,4-11,0.0,6-59,275.0,0.0,10.2,2.9
1408,401282779.0,130.0,Michigan,33.0,2021-10-23T16:00:00.000Z,3558.0,Michigan Stadium,False,Northwestern,7.0,...,1.0,27.0,4.0,12-20,2.0,4-40,457.0,2.0,5.1,5.4

In [11]:
stats_df['date'] = pd.to_datetime(stats_df['date']).dt.tz_localize(None).dt.date

stats_df['totalPenalties'] = stats_df['totalPenaltiesYards'].str.split('-').str[0]
stats_df['totalPenaltyYards'] = stats_df['totalPenaltiesYards'].str.split('-').str[1]

stats_df['completions'] = stats_df['completionAttempts'].str.split('-').str[0]
stats_df['completionAttempts'] = stats_df['completionAttempts'].str.split('-').str[1]
stats_df.dropna(inplace=True)

stats_df['completions'] = stats_df['completions'].astype(int)
stats_df['completionAttempts'] = stats_df['completionAttempts'].astype(int)

stats_df['completion_percentage'] = stats_df['completions'] / stats_df['completionAttempts']

In [12]:
#Dropping 4th down column because I havent figured out how to split a string on -- and -
stats_df.drop(columns=['fourthDownEff','neutral_site','thirdDownEff'],inplace=True)

In [13]:
stats_df.dtypes

game_id                  float64
team_id                  float64
school                    object
points                   float64
date                      object
venue_id                 float64
venue                     object
opponent                  object
points_allowed           float64
opponent_id              float64
points_q1                float64
points_q2                float64
points_q3                float64
points_q4                float64
points_allowed_q1        float64
points_allowed_q2        float64
points_allowed_q3        float64
points_allowed_q4        float64
is_home                    int64
completionAttempts         int64
defensiveTDs             float64
firstDowns               float64
fumblesLost              float64
fumblesRecovered         float64
interceptionTDs          float64
interceptionYards        float64
interceptions            float64
kickReturnTDs            float64
kickReturnYards          float64
kickReturns              float64
kickingPoints            float64
netPassingYards          float64
passesDeflected          float64
passesIntercepted        float64
passingTDs               float64
possessionTime            object
puntReturnTDs            float64
puntReturnYards          float64
puntReturns              float64
qbHurries                float64
rushingAttempts          float64
rushingTDs               float64
rushingYards             float64
sacks                    float64
tackles                  float64
tacklesForLoss           float64
totalFumbles             float64
totalPenaltiesYards       object
totalYards               float64
turnovers                float64
yardsPerPass             float64
yardsPerRushAttempt      float64
totalPenalties            object
totalPenaltyYards         object
completions                int64
completion_percentage    float64
dtype: object

In [14]:
stats_df['possessionMins'] = stats_df['possessionTime'].str.split(':').str[0]
stats_df['possessionSecs'] = stats_df['possessionTime'].str.split(':').str[1]

In [15]:
stats_df['timeOfPossession'] = ((stats_df['possessionMins'].astype(int) * 60) + stats_df['possessionSecs'].astype(int))

stats_df.drop(columns=['possessionMins', 'possessionSecs','possessionTime'],inplace=True)

In [16]:
stats_df.head()

,game_id,team_id,school,points,date,venue_id,venue,opponent,points_allowed,opponent_id,...,totalPenaltiesYards,totalYards,turnovers,yardsPerPass,yardsPerRushAttempt,totalPenalties,totalPenaltyYards,completions,completion_percentage,timeOfPossession
0,401282714.0,356.0,Illinois,30.0,2021-08-28,3832.0,Memorial Stadium,Nebraska,22.0,158.0,...,3-40,326.0,1.0,8.4,3.5,3,40,15,0.789474,2095
1,401286187.0,278.0,Fresno State,45.0,2021-08-28,3660.0,Bulldog Stadium,Connecticut,0.0,41.0,...,7-81,538.0,1.0,9.8,4.1,7,81,27,0.692308,1857
3,401309833.0,26.0,UCLA,44.0,2021-08-28,1056.0,Rose Bowl,Hawai'i,10.0,62.0,...,7-85,392.0,0.0,6.7,5.7,7,85,12,0.545455,1757
6,401282049.0,166.0,New Mexico State,3.0,2021-08-29,3601.0,Aggie Memorial Stadium,UTEP,30.0,2638.0,...,9-85,183.0,1.0,2.8,2.7,9,85,9,0.272727,1651
7,401310693.0,23.0,San José State,45.0,2021-08-29,3935.0,Spartan Stadium,Southern Utah,14.0,253.0,...,11-91,543.0,2.0,13.7,5.8,11,91,18,0.600000,1456

In [17]:
stats_df['totalPenalties'] = stats_df['totalPenalties'].astype(int)
stats_df['totalPenaltyYards'] = stats_df['totalPenaltyYards'].astype(int)

In [34]:
stats_df.columns

Index(['game_id', 'team_id', 'school', 'points', 'date', 'venue_id', 'venue',
       'opponent', 'points_allowed', 'opponent_id', 'points_q1', 'points_q2',
       'points_q3', 'points_q4', 'points_allowed_q1', 'points_allowed_q2',
       'points_allowed_q3', 'points_allowed_q4', 'is_home',
       'completionAttempts', 'defensiveTDs', 'firstDowns', 'fumblesLost',
       'fumblesRecovered', 'interceptionTDs', 'interceptionYards',
       'interceptions', 'kickReturnTDs', 'kickReturnYards', 'kickReturns',
       'kickingPoints', 'netPassingYards', 'passesDeflected',
       'passesIntercepted', 'passingTDs', 'puntReturnTDs', 'puntReturnYards',
       'puntReturns', 'qbHurries', 'rushingAttempts', 'rushingTDs',
       'rushingYards', 'sacks', 'tackles', 'tacklesForLoss', 'totalFumbles',
       'totalPenaltiesYards', 'totalYards', 'turnovers', 'yardsPerPass',
       'yardsPerRushAttempt', 'totalPenalties', 'totalPenaltyYards',
       'completions', 'completion_percentage', 'timeOfPossession'],
      dtype='object')